@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

.about {
    height: 100vh;
    .container{
        @include flex-center;
        flex-direction: row;
        text-align: center;
    }

    @include large {
        .container{
            @include flex-space-around;
            flex-direction: column;
            text-align: center;
        }
    }
}