@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

.contact-container {
    @include flex-center;
    flex-direction: column;
    a {
        width: 115px;
        height: 25px;
        color: $primary-3;
    }
}
