@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

.home{
    height: 100vh;
    background-image: url(./images/placeholder.jpg);
    background-size: cover;
    .container{
        margin-top: 25%;
        @include flex-center;
        flex-direction: column;
        background-color: transparent;
        box-shadow: none;
    }
}
