@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

*, *::before, *::after{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: $white;
    color: $black;
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: $light-shadow;
    .navbar-content{
        width: 50%;
        ul{
            list-style-type: none;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            li{
                font-size: 1.1rem;
                &:hover{
                    color: $primary-5;
                    text-decoration: underline;
                    
                }
            }
        }
    }
}