@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

*, *::before, *::after{
    margin: 0;
    padding: 0;
}
.navbar{
    position: sticky;
    top: 0;

    background-color: $white;
    color: $black;
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: $light-shadow;
    background-image: url(./images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    
    
    .navbar-content{
        @include tablet{
            width: 30%;
        }
        width: 50%;
        ul{
            list-style-type: none;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            li{
                a{
                    &:visited{
                        color: $black;
                        &:hover{
                            color: $primary-5;
                        }
                    }
                }
                @include tablet{
                    font-size: 1.5rem;
                }
                font-size: 1.1rem;
                &:hover{
                    
                    color: $primary-5;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
}