@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

.navbar {
    background: $white;
    box-shadow: $light-shadow;
    .nav-center {
        .nav-header {
            @include flex-center;
            justify-content: space-between;
            padding: 1rem;
        }
        .nav-toggle {
            font-size: 1.5rem;
            color: $primary-4;
            background: transparent;
            border-color: transparent;
            transition: $transition;
            cursor: pointer;
            &:hover {
                transform: rotate(90deg);
            }
        }
        .logo {
            height: 30px;
        }

        .links-container {
            height: 0;
            overflow: hidden;
            &.show {
                height: auto;
            }
        }

        .links li {
            color: $gray-2;
            font-size: 1rem;
            text-transform: capitalize;
            letter-spacing: $spacing;
            display: block;
            padding: 0.5rem 1rem;
            transition: $transition;
            position: relative;
            &:hover {
                background: $primary-8;
                color: $primary-4;
                padding-left: 1.5rem;
                &::after {
                    width: 100%;
                }
            }
            &::after {
                @include pseudo;
                position: absolute;
                bottom: 0;
                width: 0;
                height: 1px;
                background: $primary-1;
                transition: .1s ease-out all;
            }
        }

        .social-icons {
            display: flex;
            overflow: hidden;
            height: 0;
            justify-content: space-around;
            li {
                margin: 0.5rem 1rem;
            }
            &.show {
                height: auto;
            }
        }
    }
}
@include tablet {
    .navbar {
        .nav-center {
            max-width: 1200px;
            @include center-auto;
            @include flex-sapce-between;
            padding: 1rem;
            .logo {
                height: 10px;
            }

            .nav-header {
                padding: 0;
            }
            .nav-toggle {
                display: none;
            }
            .links-container {
                height: auto;
            }
            .links {
                display: flex;
                li {
                    padding: 0;
                    margin: 0 0.5rem;
                    &:hover {
                        padding: 0;
                        background: transparent;
                    }
                }
            }
            .social-icons {
                display: flex;
                a {
                    margin: 0 0.5rem;
                    color: $primary-4;
                    transition: $transition;
                    &:hover {
                        color: $primary-7;
                    }
                }
            }
        }
    }
}
